
#islands {
    padding: 10;
    display: flex;
    flex-wrap: wrap;
}
#islands li {
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    text-align: center;
    transition: transform 200ms ease-in-out;
    background-color: white;
}

#islands li:hover {
    box-shadow: aquamarine 4px 4px 4px;
    transform: translate3d(-1px, -1px, 0);
}
#islands li img {
    height: 50%
}
body{
    font-family: "Cormorant Unicase", serif;
    text-align: center;
    font-size: 15px;
    color: green
    
}